@model Category;


<div class="row justify-content-center">

    <!-- Grow In Utility -->
    <div class="col-lg-6">

        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Category Title : <b>@Model.CategoryName</b></h6>
            </div>
            <div class="card-body">
                <p>@Model.Description</p>
                <p class="mb-2">Note: This utility animates the CSS transform property,
                    meaning it will override any existing transforms on an element being animated!
                    In this theme, the grow in animation is only being used on dropdowns within the
                    navbar.</p>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <a asp-areas="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@Model.CategoryId"
                        class="form-control  btn btn-danger">Delete</a>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <a asp-areas="Admin" asp-controller="Category" asp-action="Index"
                        class="form-control  btn btn-secondary">Back</a>
                </div>
            </div>
        </div>

    </div>

</div>